<div class="page">
    <div class="container-principal">
        <h3>Hay {{equipos.length}} equipos!</h3>
        <button id="agregar-equipos" class="button"><a href="/agregar">Agregar</a></button>
    </div>
    <div class="container-header-grid">
        <div class="header-grid">
                <ul>
                    <li><b>Nombre Equipo</b></li>
                </ul>
                <ul>
                    <li><b>País</b></li>
                </ul>
                <ul>
                    <li><b>Acción</b></li>
                </ul>
        </div>
    </div>
    <div class="container-grid">
        {{#each equipos}}
        <div class="grid">
            <ul class="lista-nombre-equipo">
                <li><img class="logo-equipo" src="{{crestUrl}}" alt="logoEquipo"></li>
            
               <li>{{name}}</li>
           
            </ul>
            
            <ul class="lista-paises">
                <li>{{area.name}}</li>
            </ul>
            <ul class="lista-botones">
                <li><button class="button"><a href="">Ver</a></button></li>
                <li><button class="button"><a href="">Editar</a></button></li>
                <li><button class="button"><a href="">Eliminar</a></button></li>
            </ul>
        </div>
        {{/each}}
      
    </div>
</div>