{{>navbar}}
<div class="container-agregar">
    <h1>Editar un equipo</h1>

    <form class="container-form" action="/crudClubes/editar/{{id}}?_method=PUT" method="POST" enctype="multipart/form-data" >
       
        
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Imagen</label>
            <input type="file" name="crestUrl" class="form-control" id="inputGroupFile01" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre equipo</label>
            <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="River" required>
        </div>
        <div class="mb-3">
             <label for="formGroupExampleInput2" class="form-label">Pais equipo</label>
            <input type="text" class="form-control" name="area_name" id="formGroupExampleInput2" placeholder="Argentina" required>
        </div>
         <div class="mb-3">
             <label for="formGroupExampleInput2" class="form-label">Ubicación equipo</label>
            <input type="text" class="form-control" name="address" id="formGroupExampleInput2" placeholder="Av.San Martin" required>
        </div>
        <input type="submit"  class="btn btn-primary" id="button-agregar">
    </form>
